/** Theme 1 **/
$dark-purple: rgba(22, 15, 41, 1);
$caribbean-current: rgba(36, 106, 115, 1);
$dark-cyan: rgba(54, 143, 139, 1);
$champagne: rgba(243, 223, 193, 1);
$desert-sand: rgba(221, 190, 168, 1);

$dark-purple-hex: #160f29ff;
$caribbean-current-hex: #246a73ff;
$dark-cyan-hex: #368f8bff;
$champagne-hex: #f3dfc1ff;
$desert-sand-hex: #ddbea8ff;

/** Theme 2 **/
$cadet-gray-hex: #8da1b9ff;
$cadet-gray-2-hex: #95adb6ff;
$thistle-hex: #cbb3bfff;
$pale-dogwood-hex: #dbc7beff;
$salmon-pink-hex: #ef959cff;

$cadet-gray: rgba(141, 161, 185, 1);
$cadet-gray-2: rgba(149, 173, 182, 1);
$thistle: rgba(203, 179, 191, 1);
$pale-dogwood: rgba(219, 199, 190, 1);
$salmon-pink: rgba(239, 149, 156, 1);
